<div class="feed">
    <ul>
        <li class="oq b acx">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="message" placeholder="Message">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </li>

        <li ng-repeat="post in posts" class="b">
            <img class="user" src="assets/img/avatar-dhg.png">
            <div class="post">
                <div class="info">
                    <small class="post-min">4 min</small>
                    <h6 class="name">Dave Gamache</h6>
                </div>
                <p>
                    {{post.body}}
                </p>

                <div class="comments">
                    <div ng-controller="commentsController" ng-init="init(post)">
                        <div class="comment" ng-repeat="comment in comments">
                            <img class="user" src="assets/img/avatar-fat.jpg">
                            <span class="text">
                  <span class="name">Jacon Thornton:  </span> {{comment.body}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>