<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">
            <img src="assets/img/brand-white.png" alt="brand">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Profile</a></li>
                <li><a href="#contact">Messages</a></li>
                <li><a href="#contact">Docs</a></li>
            </ul>
            <div class="navbar-right">
                <div class="navbar-link-options">
                    <a href="/notifications.html" class="notification">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
              </a>
                    <span class="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="rl" src="assets/img/avatar-dhg.png">
              </span>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>