<div class="info">
    <div class="alert alert-profile-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p><a class="check-profile" href="#"><strong>Visit your profile!</strong></a> Check your self, you aren't looking well.</p>
    </div>

    <div class="sponsored">
        <h6>Sponsored</h6>
        <img class="img" src="assets/img/instagram_2.jpg">
        <p>
            <strong>It might be time to visit Iceland. </strong> Iceland is so chill, and everything looks cool here. Also,
            we heard the people are pretty nice. What are you waiting for?
        </p>
        <button type="button" class="btn btn-sm btn-outline-primary">Buy a ticket</button>
    </div>

    <div class="likes">
        <div class="mv">
            <h6>Likes <small>·<a href="#">View All</a></small></h6>
            <div class="item">
                <img class="img" src="assets/img/avatar-fat.jpg">
                <span class="name">Jacob Thornton</span> @fat
                <button type="button" class="btn btn-follow btn-sm btn-outline-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Follow
                </button>
            </div>
            <div class="item">
                <img class="img" src="assets/img/avatar-fat.jpg">
                <span class="name">Mark Otto</span> @mdo
                <button type="button" class="btn btn-follow btn-sm btn-outline-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Follow
                </button>
            </div>
        </div>
        <div class="end">
            Dave really likes these nerds, no one knows why though.
        </div>
    </div>

    <div class="footer-links">
        © 2018 Bootstrap <a href="#">About </a> <a href="#">Help</a> <a href="#">Terms</a> <a href="#">Privacy</a>
        <a href="#"> Cookies </a> <a href="#">Ads</a> <a href="#">Info</a> <a href="#">Brand</a> <a href="#">Blog</a>
        <a href="#"> Status</a> <a href="#">Apps</a> <a href="#">Jobs</a> <a href="#">Advertise</a>
    </div>
</div>