<div class="profile">
    <div class="header">
    </div>
    <div class="info">
        <a href="#">
                <img src="assets/img/avatar-dhg.png" alt="...">
            </a>
        <h6>{{user.name}}</h6>
        <p>I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
        <ul class="blh">
            <li class="bli">
                <a href="#" class="bjx">
                Friends
                <h6 class="aal">12M</h6>
              </a>
            </li>

            <li class="bli">
                <a href="#" class="bjx">
                Enemies
                <h6 class="aal">1</h6>
              </a>
            </li>
        </ul>
    </div>
</div>

<div class="about">
    <div class="mv">
        <h6>About <small>· <a href="#">Edit</a></small></h6>
        <ul class="dc atd">
            <li><span class="glyphicon glyphicon-calendar"></span>Email <a href="#">{{user.email}}</a>
            </li>
            <li><span class="glyphicon glyphicon-user"></span>Phone <a href="#">{{user.phone}}</a>
            </li>
            <li><span class="glyphicon glyphicon-lock"></span>Website <a href="#">{{user.website}}</a>
            </li>
            <li><span class="glyphicon glyphicon-home"></span>Address <a href="#">{{address | formatAddress}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="photos">
    <div class="mv">
        <h6>Photos <small>· <a href="#">Edit</a></small></h6>

        <div class="ph row">
            <div ng-repeat="photo in photos">
                <div class="col-md-6">
                    <img src="{{photo}}" />
                </div>
            </div>
        </div>
    </div>
</div>