.about {
    .mv {
        .dc {
            padding-left: 0;
            list-style: none;
        }
        .atd li {
            margin-bottom: 5px;
            span {
                color: #868e96;
                margin-right: 1rem;
            }
        }
    }
}