.feed {
    background: white;
    ul {
        padding-left: 0;
        li {
            list-style: none;
        }
    }
    .b {
        padding-top: 2rem;
        padding-right: 1.25rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        display: flex;
        margin-bottom: -1px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .user {
            border-radius: 2em;
            height: 4em;
        }
        .post {
            margin-left: 1em;
            flex-grow: 1;
            .post-min {
                float: right;
            }
            .name {
                line-height: 1.2;
                font-size: 1em;
                font-weight: 600;
            }
        }
        .comments {
            .comment {
                margin-bottom: 2em;
                display: flex;
                .user {
                    margin-right: 1em;
                    height: 3em;
                }
            }
        }
    }
}