$brand-primary: #890f42;
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$link-color-blue: #216a94;

.body {
    background-color: #F5F8FA;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.content {
    margin-top: 5em;
    h6 {
        margin-bottom: 1em;
        line-height: 1.2;
        font-size: 1em;
        font-weight: 600;
        color: #212529;
    }
    .mv {
        a {
            color: $link-color-blue;
            &:hover {
                text-decoration: underline;
                color: $link-color-blue;
            }
        }
    }
    .cr {
        padding-left: 0;
        padding-right: 0;
        .photos,
        .about,
        .profile {
            @include add-border;
        }
    }
    .cm {
        .feed {
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
        }
    }
    .cl {
        .sponsored, .likes, .footer-links {
            @include add-border;
        }
    }
    .btn-outline-primary {
        border: 1px solid #3097D1;
        background-color: transparent;
        color: #3097D1;
        &:hover {
            background-color: #3097D1;
            color: white;
        }
        &:active,
        &:focus {
            color: #fff;
            background-color: #3097D1;
            border-color: #3097D1;
            box-shadow: 0 0 0 3px rgba(48, 151, 209, 0.5);
        }
    }
}