.info {
    .sponsored {
        img {
            width: 239px;
            height: 225px;
            margin-bottom: 10px;
            margin-right: 0px;
            display: inline-block;
            vertical-align: bottom;
        }
    }
    .alert-profile-warning {
        color: #7d5a29;
        background-color: #fcefdc;
        border-color: #fbe8cd;
        a.check-profile {
            color: inherit;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    .likes {
        padding: 0 !important;
        .mv {
            padding: 1em;   
        }
        img {
            width: 4.5em;
            float: left;
            margin-right: 1em;
            border-radius: 4em;
        }
        .name {
            font-weight: bold;
        }
        .btn-follow {
            margin-top: .5em;
        }
        .item {
            margin-bottom: 2em;
        }
        .end {
            padding: 0.75rem 1.25rem;
            background-color: rgba(0, 0, 0, 0.03);
            border-top: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
    .footer-links {
        a {
            color: $link-color-blue !important;
        }
    }
}