$grey-link-color: rgba(255, 255, 255, 0.5);
$grey-hover-link-color: rgba(255, 255, 255, 0.75);
$navbar-default-bg: #3097D1;
$navbar-default-link-color: $grey-link-color;
$navbar-default-link-hover-color: $grey-hover-link-color;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: none;
.navbar {
    .container {
        margin-left: 0;
    }
    .navbar-form {
        position: absolute;
        right: 6em;
    }
    .navbar-link-options {
        position: absolute;
        right: 1em;
        .notification {
            font-size: 1.5em;
            margin-right: .5em;
            span {
                top: .5em;
                color: $grey-link-color;
            }
             :hover {
                color: $grey-hover-link-color;
            }
        }
        .profile {
            img {
                height: 2.5em;
                border-radius: 2em;
                margin-top: .5em;
            }
        }
    }
}

.navbar-brand {
    img {
        height: 1.3em;
    }
}