.profile {
    padding: 0 !important;
    .info {
        text-align: center;
        padding: 1em;
        a {
            color: black;
        }
        h6 {
            font-weight: 600;
            line-height: 1.2;
            font-size: 1em;
        }
        img {
            border-radius: 5em;
            width: 30%;
            max-width: 100px;
            margin-top: -70px;
            margin-bottom: 5px;
            border: 3px solid #fff;
            border-radius: 100%;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }
        .blh {
            list-style: none;
            padding: 0;
            .bli {
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid #d4dbe0;
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    .header {
        background-image: url("/assets/img/iceland.jpg");
        height: 150px;
        background-size: cover;
    }
}

.photos {
    img {
        width: 8em;
        margin-bottom: 1em;
    }
    .ph {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
        img {
            width: 100%;
        }
    }
}