$brand-primary: #890f42;
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$link-hover-decoration: none;

@import './mixin';
@import './index';
@import './navbar';
@import './profile';
@import './feed';
@import './info';
@import './about';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


